html, body {
    width: 100%;
    height: 100%;
}

body {
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

textarea {
    max-width: 90%;
}

li[data-index]:hover .x {
    display: inline-block;
}

ul li {
    padding: 2px;
    white-space: pre;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container {
    margin: 20px 0;
}

.column {
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid black;
    padding-bottom: 15px;
    max-height: 70vh;
    overflow-y: scroll;
}

.x {
    display: none;
    float: right;
    cursor: pointer;
}

.x:hover {
    background-color: rgb(153, 153, 153);
}

#note, #todo {
    vertical-align: top;
}
