html, body {
    width: 100%;
    height: 100%;
}

body {
    background-size: auto 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

textarea {
    max-width: 90%;
}

li[data-index]:hover .notep,
li[data-index]:hover .notex,
li[data-index]:hover .todop,
li[data-index]:hover .todox {
    display: inline-block;
}

ul li {
    padding: 2px;
    white-space: pre;
    word-wrap: break-word;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container {
    margin: 20px 0;
}

.column {
    position: relative;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid black;
    padding-bottom: 15px;
    max-height: 70vh;
    overflow-y: scroll;
}

.notep, .notex, .todop, .todox {
    display: none;
    float: right;
    cursor: pointer;
}

.notex, .notep, .todox, .todop {
    padding: 2px;
}

.notep:hover, .todop:hover, .notex:hover, .todox:hover {
    background-color: rgb(153, 153, 153);
}

#note, #todo, textarea[id*='note'], textarea[id*='todo'] {
    vertical-align: top;
}

#gol-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -9999;
}